{% extends "layout.html" %}
{% block body %}
	<section id="one" class="wrapper style1">
		<header class="major">
			<h2>Little Baby</h2>
			<img src="ab_images/panda-gigante-ya-no-esta-en-peligro-de-extincion.jpg">
			<p>
				Little baby Oh so small
				One day you will be big and tall
				I watch you while you laugh and play
				My love for you grows everyday
				I tell you this with my whole heart
				I love you just the way you are
			</p>
		</header>
	</section>
{% endblock %}